CapaPresentacion/Connected Services/ServiceUsuarios/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55641/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55641/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55641/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CapaEntidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getSelectUsId_InputMessage">
    <wsdl:part name="parameters" element="tns:getSelectUsId" />
  </wsdl:message>
  <wsdl:message name="IService1_getSelectUsId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSelectUsIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_setInsertUs_InputMessage">
    <wsdl:part name="parameters" element="tns:setInsertUs" />
  </wsdl:message>
  <wsdl:message name="IService1_setInsertUs_OutputMessage">
    <wsdl:part name="parameters" element="tns:setInsertUsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_setUpdateUs_InputMessage">
    <wsdl:part name="parameters" element="tns:setUpdateUs" />
  </wsdl:message>
  <wsdl:message name="IService1_setUpdateUs_OutputMessage">
    <wsdl:part name="parameters" element="tns:setUpdateUsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_setDeleteUs_InputMessage">
    <wsdl:part name="parameters" element="tns:setDeleteUs" />
  </wsdl:message>
  <wsdl:message name="IService1_setDeleteUs_OutputMessage">
    <wsdl:part name="parameters" element="tns:setDeleteUsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getSelectUs_InputMessage">
    <wsdl:part name="parameters" element="tns:getSelectUs" />
  </wsdl:message>
  <wsdl:message name="IService1_getSelectUs_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSelectUsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getSelectUsId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getSelectUsId" message="tns:IService1_getSelectUsId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getSelectUsIdResponse" message="tns:IService1_getSelectUsId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setInsertUs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/setInsertUs" message="tns:IService1_setInsertUs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/setInsertUsResponse" message="tns:IService1_setInsertUs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setUpdateUs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/setUpdateUs" message="tns:IService1_setUpdateUs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/setUpdateUsResponse" message="tns:IService1_setUpdateUs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setDeleteUs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/setDeleteUs" message="tns:IService1_setDeleteUs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/setDeleteUsResponse" message="tns:IService1_setDeleteUs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSelectUs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getSelectUs" message="tns:IService1_getSelectUs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getSelectUsResponse" message="tns:IService1_getSelectUs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSelectUsId">
      <soap:operation soapAction="http://tempuri.org/IService1/getSelectUsId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setInsertUs">
      <soap:operation soapAction="http://tempuri.org/IService1/setInsertUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUpdateUs">
      <soap:operation soapAction="http://tempuri.org/IService1/setUpdateUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setDeleteUs">
      <soap:operation soapAction="http://tempuri.org/IService1/setDeleteUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSelectUs">
      <soap:operation soapAction="http://tempuri.org/IService1/getSelectUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:55641/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>