CapaPresentacion/Connected Services/ServiceUsuarios/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55641/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CapaEntidades" />
  <xs:element name="getSelectUsId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Us_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSelectUsIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CapaEntidades" minOccurs="0" name="getSelectUsIdResult" nillable="true" type="q1:UsuarioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setInsertUs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CapaEntidades" minOccurs="0" name="obj" nillable="true" type="q2:UsuarioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setInsertUsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setInsertUsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setUpdateUs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CapaEntidades" minOccurs="0" name="obj" nillable="true" type="q3:UsuarioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setUpdateUsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setDeleteUs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CapaEntidades" minOccurs="0" name="obj" nillable="true" type="q4:UsuarioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setDeleteUsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSelectUs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSelectUsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CapaEntidades" minOccurs="0" name="getSelectUsResult" nillable="true" type="q5:ArrayOfUsuarioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>