CapaPresentacion/Connected Services/ServiceUsuarios/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CapaEntidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CapaEntidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Us_fech_nacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Us_id" type="xs:int" />
      <xs:element minOccurs="0" name="Us_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Us_sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioBE" nillable="true" type="tns:UsuarioBE" />
  <xs:complexType name="ArrayOfUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioBE" nillable="true" type="tns:UsuarioBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioBE" nillable="true" type="tns:ArrayOfUsuarioBE" />
</xs:schema>